.edit-modal-image img {
  border-radius: 6px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .edit-modal-image,
  .edit-modal-image img {
    width: 100% !important;
    height: auto !important;
  }
}