.App {
  text-align: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 6px;
}

.logo-icon > svg {
  width: 24px;
  height: 24px;
}

.logo-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 652px) {
  .ant-layout-header {
    padding-inline: 20px;
  }

  .ant-layout-content {
    padding: 0 20px !important;
  }

  .logo-icon {
    width: 30px;
    height: 26px;
  }

  .logo-icon > svg {
    width: 17px;
    height: 17px;
  }
}